body {
	background-color: #EACEA7  ; /*Background color for page */
	color: #88322C; /*Color for the main font*/
	margin: 0;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 300;
	font-style: normal;
}

button {
	background-color: #88322C; /*Background color for buttons*/
	color: #EACEA7; /*Font color for buttons*/
	border: none;
	padding: 10px 15px;
	margin: 10px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 600;
	font-style: normal;
}

button:hover {
	opacity: 0.8; /*Slightly reduce opacity on hover for visual effect */
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center; /*Center page elements horizontally*/
	justify-content: center; /*Center page elements vertically*/
	min-height: 100vh; /*Display with full viewport height*/
}

img {
	max-width: 85%;
	height: auto;
	margin: 20px 0;
}
